body {
	background-color: #C8C8C8;
	text-align: center;
}

h1, h2 {
	color: red;
}

p {
	font-style: arial;
}

ul {
	text-align: left;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
